<div>
    <noscript>This page contains webassembly and javascript content, please enable javascript in your
        browser.</noscript>
    <canvas id="canvas" style="position: fixed"></canvas>
    <script src="http://scally-dev.s3-website-us-west-1.amazonaws.com/bhc/black-hole-cairn.js"></script>
    <script>
        function setSize() {
            const canvas = document.getElementById("canvas");
            const width = canvas.width;
            const screenWidth = window.innerWidth;
            const left = (screenWidth - width) / 2;
            canvas.style.left = `${left}px`;
        }

        window.addEventListener("load", async () => {
            await wasm_bindgen("http://scally-dev.s3-website-us-west-1.amazonaws.com/bhc/black-hole-cairn_bg.wasm");
            setSize();
        });

        window.addEventListener('resize', function (event) {
            setSize();
        });
    </script>
</div>