<div>
    <noscript>This page contains webassembly and javascript content, please enable javascript in your
        browser.</noscript>
    <canvas id="canvas" style="position: fixed"></canvas>

    {% if jekyll.environment == "development" %}
        <script src="../temp/bhc/black-hole-cairn.js"></script>
    {% else %}
        <script src="https://dfrduo6mxfnqy.cloudfront.net/bhc/black-hole-cairn.js"></script>
    {% endif %}

    <script>
        function setSize() {
            const canvas = document.getElementById("canvas");
            const width = canvas.width;
            const screenWidth = window.innerWidth;
            const left = (screenWidth - width) / 2;
            canvas.style.left = `${left}px`;
        }

        window.addEventListener("load", async () => {
            {% if jekyll.environment == "development" %}
                await wasm_bindgen("../temp/bhc/black-hole-cairn_bg.wasm");
            {% else %}
                await wasm_bindgen("https://dfrduo6mxfnqy.cloudfront.net/bhc/black-hole-cairn_bg.wasm");
            {% endif %}
            setSize();
        });

        window.addEventListener('resize', function (event) {
            setSize();
        });
    </script>
</div>